@import './variables/Variables.scss';

.card {
  background-color: $main-background-color;
  width: 430px;
  margin-bottom: 20px;
  border: 1px solid rgb(27, 27, 27);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
  padding: 10px;
}

.card-btn-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.card-form {
  margin: 2px;
  width: 50%;
}

.card-btn {
  width: 100%;
}
