@import './variables/Variables.scss';

.contact-container {
  text-align: justify;
  display: flex;
  margin: 0 30px;
  min-height: 100vh;
}

.text-container {
  line-height: 1.7;
  margin: 40px;
}
.image {
  width: 350px;
  height: 350px;
  margin: 40px auto;
}

@media only screen and (max-width: 1020px) {
  .contact-container {
    flex-direction: column;
  }
}
