@import './variables/Variables.scss';

.error-main-container {
  text-align: center;
  height: 100vh;
  background-image: url('../images/Photographer-imagines-what-it-would-be-like-if-Darth-Vader-went-through-a-financial-crisis-and-the-result-will-amuse-you-5a287c3962032__880.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.error-msg {
  padding-top: 80px;
}
