@import './variables/Variables.scss';

.search-main-container {
  min-height: 100vh;
}

.movie-search-form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  width: 450px;
  margin: 0px;
  padding: 0px 20px;
}
